.git
target
dist
build
*.db
*.sqlite
*.exe
perf.data*
graph.png
ssh
.env
encrypted_assets
assets/**
!assets/maps/
!assets/maps/**
!assets/gametypes/
!assets/gametypes/**
!assets/collision/
!assets/collision/**
