target
dist
*.db
*.DS_Store
*.exe
*.sqlite
Cargo.lock
perf.data*
assets/fmod-out
ssh
dev-assets/lib/steamworks_sdk_164/**
!dev-assets/lib/steamworks_sdk_164/
!dev-assets/lib/steamworks_sdk_164/README.md
