(
  resources: {
    "MapMeta": (
      visuals: [],
      skybox: Some("textures/skyboxes/HDR_rich_blue_nebulae_1.hdr"),
      skybox_brightness: 1000.0,
      env_light_intensity: 200.0,
      ambient_light_color: Srgba((
        red: 1.0,
        green: 1.0,
        blue: 1.0,
        alpha: 1.0,
      )),
      ambient_light_brightness: 40.0,
    ),
  },
  entities: {
  // planet 1
    1: (
      components: {
        "SceneModel": (
          path: "models/placeholder_planet_2.glb#Scene0",
        ),
        "GravitySource": (
          kind: Point,
          inner_radius: 0,
          radius: 9000,
          profile: Linear(20.0),
        ),
        "SnapSource": (
          kind: Point,
          inner_radius: 0,
          radius: 1200,
        ),
        "SceneRigidBody": Dynamic,
        "InitialVelocity": ((0.0, 0.0, 122.0)), // spawns this planet into the level with some inital velocity, which is cleared
        "StaticCollider": (
          shape: ConvexHulls("collision/planet2.obj"),
          scale: 10.0,
        ),
        "gameplay::components::atmosphere::AreaReverbComponent": (
          min_distance: 800.0,
          max_distance: 1000.0,
        ),
        "Transform": (
          translation: (-3000.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (10.0, 10.0, 10.0),
        ),
      },
    ),
    // planet 2
    2: (
      components: {
        "SceneModel": (
          path: "models/placeholder_planet_2.glb#Scene0",
        ),
        "GravitySource": (
          kind: Point,
          inner_radius: 0,
          radius: 9000,
          profile: Linear(20.0),
        ),
        "SnapSource": (
          kind: Point,
          inner_radius: 0,
          radius: 1200,
        ),
        "SceneRigidBody": Dynamic,
        "InitialVelocity": ((0.0, 0.0, -122.0)),
        "StaticCollider": (
          shape: ConvexHulls("collision/planet2.obj"),
          scale: 10.0,
        ),
        "gameplay::components::atmosphere::AreaReverbComponent": (
          min_distance: 800.0,
          max_distance: 1000.0,
        ),
        "Transform": (
          translation: (3000.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (10.0, 10.0, 10.0),
        ),
      },
    ),
    // shadow and light
    3: (
      components: {
        "CascadeShadowConfig": (
          bounds: [40.0, 200.0, 1000.0, 6000.0],
          overlap_proportion: 0.3,
          minimum_distance: 0.1,
        ),
        "DirectionalLight": (
          color: Srgba((
            red: 0.5,
            green: 0.7,
            blue: 0.8,
            alpha: 1.0,
          )),
          illuminance: 3000.0,
          shadows_enabled: true,
        ),
        "Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (-0.11, -0.43, -0.24, 0.86),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4: (
      components: {
        "SpawnPoint": (
          team: 0,
        ),
        "ChildOf": (1),
        "Transform": (
          translation: (0.0, 1150.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    5: (
      components: {
        "Spawner": (
          spawn_name: "rifle",
          respawn_delay_secs: 10.0,
        ),
        "ChildOf": (1),
        "Transform": (
          translation: (1.5, 1150.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    6: (
      components: {
        "Spawner": (
          spawn_name: "spaceship",
          respawn_delay_secs: 10.0,
        ),
        "ChildOf": (1),
        "Transform": (
          translation: (15.0, 1160.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    // 7: (
    //      components: {
    //        "Spawner": (
    //          spawn_name: "biped",
    //          respawn_delay_secs: 5.0,
    //        ),
    //        "Transform": (
    //          translation: (3.0, 800.0, 0.0),
    //          rotation: (0.0, 0.0, 0.0, 1.0),
    //          scale: (1.0, 1.0, 1.0),
    //        ),
    //      },
    //    ),
  },
)
