(
  resources: {
    "MapMeta": (
      visuals: [],
      skybox: Some("textures/skyboxes/HDR_rich_blue_nebulae_1.hdr"),
      skybox_brightness: 1000.0,
      env_light_intensity: 200.0,
      ambient_light_color: Srgba((
        red: 0.02,
        green: 0.02,
        blue: 0.03,
        alpha: 1.0,
      )),
      ambient_light_brightness: 80.0,
    ),
  },
  entities: {
    1: (
      components: {
        "SceneModel": (
          path: "models/placeholder_planet_2.glb#Scene0",
        ),
        "GravitySource": (
          kind: Point,
          inner_radius: 0,
          radius: 9000,
          profile: Linear(20.0),
        ),
        "SnapSource": (
          kind: Point,
          inner_radius: 0,
          radius: 1200,
        ),
        "SceneRigidBody": Dynamic,
        "InitialVelocity": ((0.0, 35.0, 115.0)),
        "StaticCollider": (
          shape: ConvexHulls("collision/planet2.obj"),
          scale: 10.0,
        ),
        "Transform": (
          translation: (-3200.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (10.0, 10.0, 10.0),
        ),
      },
    ),
    2: (
      components: {
        "SceneModel": (
        path: "models/placeholder_planet_2.glb#Scene0",
        ),
        "GravitySource": (
          kind: Point,
          inner_radius: 0,
          radius: 9000,
          profile: Linear(20.0),
        ),
        "SnapSource": (
          kind: Point,
          inner_radius: 0,
          radius: 1200,
        ),
        "SceneRigidBody": Dynamic,
        "InitialVelocity": ((90.0, -20.0, -55.0)),
        "StaticCollider": (
          shape: ConvexHulls("collision/planet2.obj"),
          scale: 10.0,
        ),
        "Transform": (
          translation: (1800.0, 1400.0, 2600.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (10.0, 10.0, 10.0),
        ),
      },
    ),
    3: (
      components: {
        "SceneModel": (
        path: "models/placeholder_planet_2.glb#Scene0",
        ),
        "GravitySource": (
          kind: Point,
          inner_radius: 0,
          radius: 9000,
          profile: Linear(20.0),
        ),
        "SnapSource": (
          kind: Point,
          inner_radius: 0,
          radius: 1200,
        ),
        "SceneRigidBody": Dynamic,
        "InitialVelocity": ((-70.0, 55.0, -35.0)),
        "StaticCollider": (
          shape: ConvexHulls("collision/planet2.obj"),
          scale: 10.0,
        ),
        "Transform": (
          translation: (700.0, -2100.0, -3300.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (10.0, 10.0, 10.0),
        ),
      },
    ),
    4: (
      components: {
        "CascadeShadowConfig": (
          bounds: [40.0, 200.0, 1000.0, 6000.0],
          overlap_proportion: 0.3,
          minimum_distance: 0.1,
        ),
        "DirectionalLight": (
          color: Srgba((
            red: 1.0,
            green: 0.4,
            blue: 0.4,
            alpha: 1.0,
          )),
          illuminance: 4000.0,
          shadows_enabled: true,
        ),
        "Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (-0.11, -0.43, -0.24, 0.86),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    5: (
      components: {
        "SpawnPoint": (
          team: 0,
        ),
        "ChildOf": (1),
        "Transform": (
          translation: (0.0, 1150.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    6: (
      components: {
        "Spawner": (
          spawn_name: "lobber",
          respawn_delay_secs: 10.0,
        ),
        "ChildOf": (1),
        "Transform": (
          translation: (1.5, 1150.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
  },
)
